.media,
.news {
    width: 390px;
    height: 80vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.content-media {
    background-color: #000;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.multimedia {
    display: block;
    width: 390px;
    height: 55vh;
}

.multimedia video {
    width: 390px;
    height: 55vh;
    border: none;
}

.multimedia img {
    width: 390px;
    height: 55vh;
    border: none;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000;
    height: 25vh;
    width: 390px;
}

.description h4,
h6 {
    color: #fff;
    width: 390px;
    text-align: start;
    padding: 0px 30px 0px 30px;
}

.description h6 {
    color: #fff;
    width: 390px;
    font-weight: 300;
    text-align: start;
    padding: 0px 30px 0px 30px;
}

.description p {
    width: 390px;
    padding: 0px 30px 10px 30px;
    text-align: start;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.description a {
    color: #fff;
    margin-left: 2px;
    text-decoration: underline;
    cursor: pointer;
}



.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .action-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 18px;
  }
  
  .action-button:hover {
    color: #ff0000; /* Color de resaltado al pasar el cursor por encima */
  }

  .screen-box .buttons {
    position: absolute;
    left: 87%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .screen-box .buttons a {
    height: 40px;
    width: 40px;
    text-align: center;
    margin: 5px 0px;
  }
  
  .screen-box .buttons a>i {
    color: #fff;
  }
  
  .options {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px 15px 0px 0px;
    background-color: #000;
  }
  
  .white {
    color: #fff;
  }
  
  .options a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .options h3 {
    color: #fff;
  }


  .titulo-content {
    background-color: #fff;
    width: 390px;
    height: 55vh;
    display: flex;
    align-items: center;
  }

  .titulo-content p {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    font-weight: 600;
  }