.texture-register,
.texture-profile {
  height: 33vh;
  width: 390px;
  border-radius: 15px 15px 0px 0px;
}

.texture-profile {
  background-color: #F9B166;
}

.profile-img {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 385px;
  height: 235px;
}

.profile-img img {
  margin-top: 10px;
  width: 128px;
  height: 128px;
  border-radius: 128px;
  display: block;
}

.profile-img h3 {
  color: #fff;
  font-weight: 400;
}

.profile-img h2 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.profile-img h4 {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.profile-content {
  position: absolute;
  width: 390px;
  height: 60vh;
  background-color: #fff;
}

.options-profile {
  border-radius: 25px;
  position: relative;
  width: 390px;
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  border-bottom: 1px solid #BAB8B8;
}

.options-profile a {
  width: 40%;
  text-align: center;
}

.options-profile a>i {
  color: #BAB8B8;
  text-align: center;
}

.info {
  width: 390px;
  height: 50vh;
  background-color: #fff;
}

.div-logout {
  position: absolute;
  height: 3.89%;
  width: 8.42%;
  top: 4.74%;
  bottom: 91.37%;
  margin-left: 10px;
}

.logout i {
  color: #fff;
}

.logout {
  cursor: pointer;
  position: absolute;
  height: 3.89%;
  width: 8.42%;
  top: 2%;
  bottom: 91.37%;
  margin-left: 10px;
}

.profile-publish {
  display: block;
  height: 50vh;
  width: 390px;
  background-color: #fff;
}